mainetservice/MainetServiceWeb/src/main/resources/departmentmaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:orangescape" targetNamespace="urn:orangescape">
<types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:urn="urn:orangescape" elementFormDefault="qualified" targetNamespace="urn:orangescape">
<xsd:element name="Dept_Master">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="DP_DEPTID" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="DP_Status" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="DP_DEPTDESC" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="DP_NAME_MAR" type="xsd:string"/>
<xsd:element name="DP_DEPTCODE" type="xsd:string"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>


<!-- <xsd:element name="Dept_MasterUp">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="DP_DEPTID" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="DP_Status" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="DP_DEPTDESC" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="DP_NAME_MAR" type="xsd:string"/>
<xsd:element name="DP_DEPTCODE" type="xsd:string"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element> -->

</xsd:schema>
</types>
<message name="Dept_MasterRequest">
<part name="parameters" element="tns:Dept_Master"/>
</message>
<message name="Dept_MasterResponse">
<part name="parameters" element="tns:Dept_Master"/>
</message>

<message name="Dept_MasterRequestUp">
<part name="parameters" element="tns:Dept_Master"/>
</message>
<message name="Dept_MasterResponseUp">
<part name="parameters" element="tns:Dept_Master"/>
</message>

<portType name="Dept_MasterServer">
<operation name="Update">
<input message="tns:Dept_MasterRequestUp"/>
<output message="tns:Dept_MasterResponseUp"/>
</operation>
<operation name="Submit">
<input message="tns:Dept_MasterRequest"/>
<output message="tns:Dept_MasterResponse"/>
</operation>
</portType>
<binding name="Dept_MasterServer" type="tns:Dept_MasterServer">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Update">
<soap:operation soapAction="Update"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Submit">
<soap:operation soapAction="Submit"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Dept_MasterServer">
<port name="Dept_MasterServer" binding="tns:Dept_MasterServer">
<soap:address location="http://192.168.100.215:9080/Apbeab238c_6ab5_11e7_a5f0_eb6c4ed8438b/1/Shded0eb3f4b1a4f109712089ef7702141/Acf2cb47ed9a724b6c852fd4635971e9cf/Shded0eb3f4b1a4f109712089ef7702141/ws"/>
</port>
</service>
</definitions>