mainetservice/MainetServiceWeb/src/main/resources/deptorg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:orangescape" targetNamespace="urn:orangescape">
<types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:urn="urn:orangescape" elementFormDefault="qualified" targetNamespace="urn:orangescape">
<xsd:element name="DepartOrg_Map">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="Map_Id" type="xsd:double"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="ULB_Code" type="xsd:string"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="Dp_DeptId" type="xsd:double"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
<xsd:element name="Map_Status" type="xsd:string"/>
<xsd:element name="DP_DEPTDESC" type="xsd:string"/>
<xsd:element name="DP_NAME_MAR" type="xsd:string"/>
<xsd:element name="DP_DEPTCODE" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>


<!-- <xsd:element name="DepartOrg_MapUp">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="Map_Id" type="xsd:double"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="ULB_Code" type="xsd:string"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="Dp_DeptId" type="xsd:double"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
<xsd:element name="Map_Status" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element> -->
</xsd:schema>
</types>

<message name="DepartOrg_MapRequest">
<part name="parameters" element="tns:DepartOrg_Map"/>
</message>
<message name="DepartOrg_MapResponse">
<part name="parameters" element="tns:DepartOrg_Map"/>
</message>

<message name="DepartOrg_MapRequestUp">
<part name="parameters" element="tns:DepartOrg_Map"/>
</message>
<message name="DepartOrg_MapResponseUp">
<part name="parameters" element="tns:DepartOrg_Map"/>
</message>
<portType name="DepartOrg_MapServer">
<operation name="Update">
<input message="tns:DepartOrg_MapRequestUp"/>
<output message="tns:DepartOrg_MapResponseUp"/>
</operation>
<operation name="Submit">
<input message="tns:DepartOrg_MapRequest"/>
<output message="tns:DepartOrg_MapResponse"/>
</operation>
</portType>
<binding name="DepartOrg_MapServer" type="tns:DepartOrg_MapServer">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Update">
<soap:operation soapAction="Update"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Submit">
<soap:operation soapAction="Submit"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DepartOrg_MapServer">
<port name="DepartOrg_MapServer" binding="tns:DepartOrg_MapServer">
<soap:address location="http://192.168.100.13:8080/Ap9c05e72b_e6ca_11e7_9e59_0f492f6da096/1/Sh81f269781f893d2fa8384ff55e4833fe/Ac7f62b49dd7193cf67870f74e697ed1ab/Sh81f269781f893d2fa8384ff55e4833fe/ws"/>
</port>
</service>
</definitions>