mainetservice/MainetServiceWeb/src/main/resources/holiday.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:orangescape" targetNamespace="urn:orangescape">
<types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:urn="urn:orangescape" elementFormDefault="qualified" targetNamespace="urn:orangescape">
<xsd:element name="HolidayMaster">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Holiday_Date" type="xsd:dateTime"/>
<xsd:element name="cal_year" type="xsd:double"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="ULB_Name" type="xsd:string"/>
<xsd:element name="flag" type="xsd:double"/>
<xsd:element name="Dup_Holiday" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="From_Date" type="xsd:dateTime"/>
<xsd:element name="HO_ID" type="xsd:double"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="CalendarYear_Ref" type="xsd:string"/>
<xsd:element name="Holiday_Name_lower" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="Starting_Year" type="xsd:double"/>
<xsd:element name="Cal_Holiday_year" type="xsd:string"/>
<xsd:element name="ULB_Code" type="xsd:string"/>
<xsd:element name="Dup_Holiday_Value" type="xsd:string"/>
<xsd:element name="Ho_active" type="xsd:string"/>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="Dup_HolidayDate" type="xsd:string"/>
<xsd:element name="To_Date" type="xsd:dateTime"/>
<xsd:element name="CalendarYear_Value" type="xsd:double"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="Holiday_Dat_Name" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="Day_Name" type="xsd:string"/>
<xsd:element name="Holiday_Name" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="End_year" type="xsd:double"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="Holiday_Type" type="xsd:string"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>


<!-- <xsd:element name="HolidayMasterUp">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Holiday_Date" type="xsd:dateTime"/>
<xsd:element name="cal_year" type="xsd:double"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="ULB_Name" type="xsd:string"/>
<xsd:element name="flag" type="xsd:double"/>
<xsd:element name="Dup_Holiday" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="From_Date" type="xsd:dateTime"/>
<xsd:element name="HO_ID" type="xsd:double"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="CalendarYear_Ref" type="xsd:string"/>
<xsd:element name="Holiday_Name_lower" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="Starting_Year" type="xsd:double"/>
<xsd:element name="Cal_Holiday_year" type="xsd:string"/>
<xsd:element name="ULB_Code" type="xsd:string"/>
<xsd:element name="Dup_Holiday_Value" type="xsd:string"/>
<xsd:element name="Ho_active" type="xsd:string"/>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="Dup_HolidayDate" type="xsd:string"/>
<xsd:element name="To_Date" type="xsd:dateTime"/>
<xsd:element name="CalendarYear_Value" type="xsd:double"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="Holiday_Dat_Name" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="Day_Name" type="xsd:string"/>
<xsd:element name="Holiday_Name" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="End_year" type="xsd:double"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="Holiday_Type" type="xsd:string"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element> -->


</xsd:schema>
</types>
<message name="HolidayMasterRequest">
<part name="parameters" element="tns:HolidayMaster"/>
</message>
<message name="HolidayMasterResponse">
<part name="parameters" element="tns:HolidayMaster"/>
</message>

<message name="HolidayMasterRequestUp">
<part name="parameters" element="tns:HolidayMaster"/>
</message>
<message name="HolidayMasterResponseUp">
<part name="parameters" element="tns:HolidayMaster"/>
</message>
<portType name="HolidayMasterServer">
<operation name="Update">
<input message="tns:HolidayMasterRequestUp"/>
<output message="tns:HolidayMasterResponseUp"/>
</operation>
<operation name="Submit">
<input message="tns:HolidayMasterRequest"/>
<output message="tns:HolidayMasterResponse"/>
</operation>
</portType>
<binding name="HolidayMasterServer" type="tns:HolidayMasterServer">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Update">
<soap:operation soapAction="Update"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Submit">
<soap:operation soapAction="Submit"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolidayMasterServer">
<port name="HolidayMasterServer" binding="tns:HolidayMasterServer">
<soap:address location="http://192.168.100.13:8080/Ap9c05e72b_e6ca_11e7_9e59_0f492f6da096/1/Shcffa47bfcc7a50d9d6644bbe0b6ccca5/Ac5379da1ba515d99ed21f1ec80b238dca/Shcffa47bfcc7a50d9d6644bbe0b6ccca5/ws"/>
</port>
</service>
</definitions>