mainetservice/MainetServiceWeb/src/main/resources/organisation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:orangescape" targetNamespace="urn:orangescape">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:urn="urn:orangescape" elementFormDefault="qualified"
			targetNamespace="urn:orangescape">
			<xsd:element name="Org_Master">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Status" type="xsd:string" />
						<xsd:element name="ModifiedIn" type="xsd:string" />
						<xsd:element name="CreatedBy" type="xsd:string" />
						<xsd:element name="SheetId" type="xsd:string" />
						<xsd:element name="CreatedAt" type="xsd:dateTime" />
						<xsd:element name="Metadata" type="xsd:string" />
						<xsd:element name="O_NLS_ORGNAME" type="xsd:string" />
						<xsd:element name="ORGANISATION_ID" type="xsd:string" />
						<xsd:element name="SheetName" type="xsd:string" />
						<xsd:element name="ModifiedBy" type="xsd:string" />
						<xsd:element name="Caption" type="xsd:string" />
						<xsd:element name="ORG_SHORT_NM" type="xsd:string" />
						<xsd:element name="AssignedTo" type="xsd:string" />
						<xsd:element name="ModifiedAt" type="xsd:dateTime" />
						<xsd:element name="Tenant" type="xsd:string" />
						<xsd:element name="ORG_STATUS" type="xsd:string" />
						<xsd:element name="DEFAULT_STATUS" type="xsd:string" />
						<xsd:element name="ProcessInstance" type="xsd:string" />
						<xsd:element name="EMP_SEQ_NO" type="xsd:double" />
						<xsd:element name="O_NLS_ORGNAME_MAR" type="xsd:string" />
						<xsd:element name="SheetMetadataName" type="xsd:string" />
						<xsd:element name="ORG_ADDRESS" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- <xsd:element name="Org_MasterUp"> <xsd:complexType> <xsd:sequence> 
				<xsd:element name="Status" type="xsd:string"/> <xsd:element name="ModifiedIn" 
				type="xsd:string"/> <xsd:element name="CreatedBy" type="xsd:string"/> <xsd:element 
				name="SheetId" type="xsd:string"/> <xsd:element name="CreatedAt" type="xsd:dateTime"/> 
				<xsd:element name="Metadata" type="xsd:string"/> <xsd:element name="O_NLS_ORGNAME" 
				type="xsd:string"/> <xsd:element name="ORGANISATION_ID" type="xsd:string"/> 
				<xsd:element name="SheetName" type="xsd:string"/> <xsd:element name="ModifiedBy" 
				type="xsd:string"/> <xsd:element name="Caption" type="xsd:string"/> <xsd:element 
				name="AssignedTo" type="xsd:string"/> <xsd:element name="ModifiedAt" type="xsd:dateTime"/> 
				<xsd:element name="Tenant" type="xsd:string"/> <xsd:element name="ORG_STATUS" 
				type="xsd:string"/> <xsd:element name="DEFAULT_STATUS" type="xsd:string"/> 
				<xsd:element name="ProcessInstance" type="xsd:string"/> <xsd:element name="O_NLS_ORGNAME_MAR" 
				type="xsd:string"/> <xsd:element name="SheetMetadataName" type="xsd:string"/> 
				<xsd:element name="ORG_ADDRESS" type="xsd:string"/> </xsd:sequence> </xsd:complexType> 
				</xsd:element> -->

		</xsd:schema>
	</types>
	<message name="Org_MasterRequest">
		<part name="parameters" element="tns:Org_Master" />
	</message>
	<message name="Org_MasterResponse">
		<part name="parameters" element="tns:Org_Master" />
	</message>
	<portType name="Org_MasterServer">
		<operation name="Update">
			<input message="tns:Org_MasterRequest" />
			<output message="tns:Org_MasterResponse" />
		</operation>
		<operation name="Submit">
			<input message="tns:Org_MasterRequest" />
			<output message="tns:Org_MasterResponse" />
		</operation>
	</portType>
	<binding name="Org_MasterServer" type="tns:Org_MasterServer">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Update">
			<soap:operation soapAction="Update" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="Submit">
			<soap:operation soapAction="Submit" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="Org_MasterServer">
		<port name="Org_MasterServer" binding="tns:Org_MasterServer">
			<soap:address
				location="http://192.168.100.157:8090/Ap9c05e72b_e6ca_11e7_9e59_0f492f6da096/1/Sh4c5b0b03fa26da7822f13ace4e3e07bf/Ac64e497b256b1419b3e43ca51c51d3739/Sh4c5b0b03fa26da7822f13ace4e3e07bf/ws" />
		</port>
	</service>
</definitions>