mainetservice/MainetServiceWeb/src/main/webapp/wsdl/vendormasterwebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:orangescape" targetNamespace="urn:orangescape">
<types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:urn="urn:orangescape" elementFormDefault="qualified" targetNamespace="urn:orangescape">
<xsd:element name="VendorMaster">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORGID" type="xsd:string"/>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="PAC_HEAD_ID" type="xsd:double"/>
<xsd:element name="VM_VENDORADD" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="VM_VENDORID" type="xsd:double"/>
<xsd:element name="Vendor_Status" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="VM_VENDORNAME" type="xsd:string"/>
<xsd:element name="Vendor_Mail_Id" type="xsd:string"/>
<xsd:element name="Vendor_Mobile_No" type="xsd:string"/>
<xsd:element name="Vendor_Type" type="xsd:string"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="VM_VENDORCODE" type="xsd:string"/>
<xsd:element name="CPD_VENDORSUBTYPE" type="xsd:double"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="VendorMasterUp">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ORGID" type="xsd:string"/>
<xsd:element name="Status" type="xsd:string"/>
<xsd:element name="ModifiedIn" type="xsd:string"/>
<xsd:element name="CreatedBy" type="xsd:string"/>
<xsd:element name="PAC_HEAD_ID" type="xsd:double"/>
<xsd:element name="VM_VENDORADD" type="xsd:string"/>
<xsd:element name="SheetId" type="xsd:string"/>
<xsd:element name="CreatedAt" type="xsd:dateTime"/>
<xsd:element name="Metadata" type="xsd:string"/>
<xsd:element name="SheetName" type="xsd:string"/>
<xsd:element name="VM_VENDORID" type="xsd:double"/>
<xsd:element name="Vendor_Status" type="xsd:string"/>
<xsd:element name="ModifiedBy" type="xsd:string"/>
<xsd:element name="Caption" type="xsd:string"/>
<xsd:element name="AssignedTo" type="xsd:string"/>
<xsd:element name="ModifiedAt" type="xsd:dateTime"/>
<xsd:element name="VM_VENDORNAME" type="xsd:string"/>
<xsd:element name="Vendor_Mail_Id" type="xsd:string"/>
<xsd:element name="Vendor_Mobile_No" type="xsd:string"/>
<xsd:element name="Vendor_Type" type="xsd:string"/>
<xsd:element name="Tenant" type="xsd:string"/>
<xsd:element name="VM_VENDORCODE" type="xsd:string"/>
<xsd:element name="CPD_VENDORSUBTYPE" type="xsd:double"/>
<xsd:element name="ProcessInstance" type="xsd:string"/>
<xsd:element name="SheetMetadataName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</types>
<message name="VendorMasterRequest">
<part name="parameters" element="tns:VendorMaster"/>
</message>
<message name="VendorMasterRequestUp">
<part name="parameters" element="tns:VendorMasterUp"/>
</message>
<message name="VendorMasterResponse">
<part name="parameters" element="tns:VendorMaster"/>
</message>
<portType name="VendorMasterServer">
<operation name="Submit">
<input message="tns:VendorMasterRequest"/>
<output message="tns:VendorMasterResponse"/>
</operation>
<operation name="Update">
<input message="tns:VendorMasterRequestUp"/>
<output message="tns:VendorMasterResponse"/>
</operation>
</portType>
<binding name="VendorMasterServer" type="tns:VendorMasterServer">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Update">
<soap:operation soapAction="Update"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Submit">
<soap:operation soapAction="Submit"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VendorMasterServer">
<port name="VendorMasterServer" binding="tns:VendorMasterServer">
<soap:address location="http://192.168.100.215:9080/Apbeab238c_6ab5_11e7_a5f0_eb6c4ed8438b/1/Shcb01c79c326146f2823f6e3c3e6e5454/Ac837504c8498141968966566d842f06e6/Shcb01c79c326146f2823f6e3c3e6e5454/ws"/>
</port>
</service>
</definitions>